
__pycache__/
.git/
.idea/
.ignore
.venv/
.vs/
.vscode/
.vsconfig
*.opendb
*.opensdf
*.sdf
*.sln
*.suo
*.user
*.VC.db
*.vsconfig
*.xcodeproj
*.xcworkspace
/.vscode
/*.zip
/Binaries/
/Build/
/Data/
/DerivedDataCache/
/Intermediate/
/JSON/
/Platforms/
/Plugins/**/Binaries/
/Plugins/**/DerivedDataCache/
/Plugins/**/Intermediate/
/Plugins/Developer/
/Plugins/Developers/
/Samples/
/Saved/
Content/
DerivedDataCache/
Intermediate/
Logs/
Saved/